<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNGSessionsSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNGSession.groupsFeature"/>
      <class name="TestNGSession.googleTest"/>
      <class name="TestNGSession.invocationCountFeature"/>
      <class name="TestNGSession.assertioninTestNG"/>
      <class name="TestNGSession.expectedExceptionFeature"/>
      <class name="TestNGSession.dependsonMethodsfeature"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- TestNGSessionsSuite -->
